---
import Layout from "../layouts/Layout.astro";
import Markdown from "../components/Markdown.astro";
import Company from "../components/Company.astro";
import Position from "../components/Position.astro";
import Education from "../components/Education.astro";
---

<Layout title="CV">
  <div class="row row--section">
    <div class="column column--1-1">
      <h1><strong>Andrew Sokolov</strong></h1>
      <p>Senior Full-stack Software Engineer</p>

      <p>
        <a href="https://www.linkedin.com/in/skyfalconua">https://www.linkedin.com/in/skyfalconua</a>
        &nbsp; | &nbsp;
        <a href="https://github.com/skyfalconua">https://github.com/skyfalconua</a>

        <!-- WEB version -->
        &nbsp; | &nbsp;
        <a href="https://github.com/skyfalconua/cv/blob/main/output/CV-Andrew-Sokolov.pdf">PDF version</a>
      </p>

      <h2>Summary</h2>
        <p>Software Developer with 15 years of experience designing, building, and delivering
        scalable web applications across Software Development, Advertising, Automotive,
        Mobile Entertainment and Fintech domains.</p>
        <p>Skilled in Python, Django, Kotlin, JavaScript, Angular and React with strong expertise
        in unit and end-to-end test automation, Docker-based DevOps workflows, server administration,
        and applying architectural best practices within large distributed teams.</p>

      <h2>Work Experience</h2>

      <!----------------------------------------------------------------------->

      <Company name="Capgemini Engineering (ex. Lohika Systems)" place="Kyiv, Ukraine" />
        <Position
          title="Seniour Full-stack Engineer"
          period="Apr 2021 - Present"
        />

        <h4>Technologies used:</h4>

        <div class="tags">
          <Markdown>
            - Python
            - Kotlin
            - Kubernetes
            - React
            - HTML/CSS
            - Node.js
          </Markdown>
        </div>

        <h4>Projects:</h4>

        <Markdown>
           Was involved in a NodeJS/React project, contributing to both FE and BE development.
           Worked on refactoring and maintaining a Python/React/Kotlin FinTech platform,
           improving stability and code quality.
        </Markdown>

      <!----------------------------------------------------------------------->

      <hr />

      <!----------------------------------------------------------------------->

      <Company name="EPAM" place="Kyiv, Ukraine" />
      <Position
        title="Lead Software Engineer"
        period="Sep 2020 - Apr 2021"
      />
      <Position
        title="Senior Software Engineer"
        period="Oct 2019 - Sep 2020"
      />

      <h4>Technologies used:</h4>

      <div class="tags">
        <Markdown>
          - Angular
          - Webpack
          - HTML/CSS
          - Gulp
          - Nginx
          - Node.js
          - Sass
          - Jenkins
          - Preact
        </Markdown>
      </div>

      <h4>Projects:</h4>

      <Markdown>
        Senior Angular Developer on corporate employer management portal with minor BE and DevOps fixes
      </Markdown>

      <!----------------------------------------------------------------------->

      <hr />

      <!----------------------------------------------------------------------->

      <Company name="Star (ex. Cogniance)" place="Kyiv, Ukraine" />
      <Position
        title="Frontend Engineer"
        period="Jun 2015  -  Sep 2019"
      />

      <h4>Technologies used:</h4>

      <div class="tags">
        <Markdown>
          - CanJS
          - AngularJS
          - Angular 2+
          - Mysql
          - SQlite
          - Webpack
          - Python
          - Asyncio
          - Java/Spring
          - Gulp
          - Maven
        </Markdown>
      </div>

      <h4>Projects:</h4>

      <Markdown>
        Developed car head-unit applications using the CanJS framework as part of an automotive project.
        Worked as a Front-End Developer in the core team of a large Angular-based advertising platform.
        Performed maintenance and bug-fix tasks on a Java/Spring back-end.
      </Markdown>

      <!----------------------------------------------------------------------->

      <!-- PDF version; Scale: 67%; No margin -->
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />

      <!-- WEB version -->
      <!-- <hr/> -->

      <!----------------------------------------------------------------------->

      <Company name="Ciklum" place="Kyiv, Ukraine" />
      <Position
        title="Python Engineer"
        period="Jul 2014 - Apr 2015"
      />

      <h4>Technologies used:</h4>

      <div class="tags">
        <Markdown>
          - Python
          - CherryPy
          - Fabric
          - HTML/CSS
          - Redis
          - MySql
          - Postgresql
        </Markdown>
      </div>

      <h4>Projects:</h4>

      <Markdown>
        ** - Mobile Entertainment GmbH **

        Worked as a Back-End Developer on a mobile paid video hosting service integrated
        with telecom billing. Focused on refactoring legacy code and delivering performance
        optimizations, including caching and multithreading optimizations.
      </Markdown>

      <!----------------------------------------------------------------------->

      <hr />

      <!----------------------------------------------------------------------->

      <Company name="OstinCompany / OstinGames" place="Kyiv, Ukraine" />
        <Position
          title="Python/Django Developer"
          period="Jun 2013 - Jul 2014"
        />

        <h4>Technologies used:</h4>

        <div class="tags">
          <Markdown>
            - Python/Django
            - Tornado (for Websockets)
            - JS
            - JQuery
            - AJAX
            - HTML5
            - CSS
            - PostgreSQL
            - Scrum
          </Markdown>
        </div>

        <h4>Projects:</h4>

        <Markdown>
          ** - AtticGem **

          Startup online auction platform for selling antiques, featuring modules for
          bidding and expert product appraisal. Worked primarily as the sole developer,
          handling both the back-end and an interactive front-end using AJAX and WebSockets,
          PayPal API for integration. Project was initially built using MongoDB
          and later migrated to PostgreSQL.
        </Markdown>

      <!----------------------------------------------------------------------->

      <hr />

      <!----------------------------------------------------------------------->

      <Company name="WebRiders" place="Kyiv, Ukraine" />
        <Position
          title="Python/Django Developer"
          period="Feb 2011 - Jun 2013"
        />

        <h4>Technologies used:</h4>

        <div class="tags">
          <Markdown>
            - Python
            - Django
            - Haystack + Whoosh
            - Selenium
            - JS
            - JQuery
            - AJAX
            - HTML5
            - CSS
            - Google Charts
            - Highcharts
          </Markdown>
        </div>

        <h4>Projects:</h4>

        <Markdown>
          ** - EnergyDeck.com **

          A UK platform for collecting and aggregating resource-consumption data
          (electricity, gas, water, etc.). Developed internal APIs and the front-end
          features built on top of them. Reporting module aggregates meter data and generated
          charts for costs, consumption, greenhouse gas output etc. Initially used Google Charts,
          later Highcharts.Handling incoming automated meters data.
          Unit and e2e tests (Selenium). Prod server administration.

          ** - BiggggIdea **

          Ukrainian crowdfunding platform focused on social and community-driven projects.

          ** - BogushTime Technologies **

          Company website for psychological training services.

          ** - SemanticForce.net **

          Front-end for an analytics and social-monitoring service,
          plus a lightweight corporate website.
        </Markdown>

      <!----------------------------------------------------------------------->

      <h2>Education</h2>
        <Education
          institution='Open University of Human Development "Ukraine"'
          period="September 2009 - July 2011"
          degree="Master of Engineering"
          place="Kyiv, Ukraine"
        />

        <Education
          institution="College of IT and the land management"
          period="September 2009 - July 2011"
          degree="Bachelor of Computer Science"
          place="Kyiv, Ukraine"
        />

    </div>
  </div>
</Layout>
